.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-container input {
    margin-right: 10px; /* Space between input and button */
  }
  